

#hanger { 
    background-color: black;
    width: 15px;
    height: 100px;
    margin-left: 30px;
}

#TrafficStop { 
    background-color: black;
    width: 70px;
    height: 200px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#lightred {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }
  
#lightyellow {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }
  
#lightgreen {
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .glow {
    transition: box-shadow 1s ease;
    box-shadow: 0 0px 50px yellow;
  }